.student-card {
    position: relative; 
    
    background-color: white; 
    
    margin: 0.5rem;
    padding: 0.25rem 0.25rem 0.25rem 0.25rem;
    padding-right: 1.5rem;
    
    border: 1px solid #e0e0e0;
    border-radius: 0.75rem;
    
    cursor: default;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    width: calc(100% - 1rem);
}

.student-card:hover {
    transform: translateX(0.5rem);
}

.student-card__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.student-card__content .pfp-image {
    width: 2rem;
    height: 2rem;
    border: 1px solid black;
    border-radius: 50%;
    object-fit: cover;
}

.student-card__content .student-name {
    margin: 0;
    color: #333;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
}

.status-strip {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 0.75rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.is-submitted { background-color: #93c5fd; } 
.is-late { background-color: #ef4444; }
.is-none { background-color: #fde047; }
.is-graded { background-color: #4ade80; }